DATABASE_HOST=db
DB_PASSWORD=yrpwd
DB_NAME=app_db
EXTERNAL_DB_PORT=your db port
# for dev
REDIS_URL=original redis url in docker-compose.yml, e.g. redis://redis:6379/0

EXTERNAL_WEB_PORT=your web port

# For production
DATABASE_URL=
REDIS_URL=
RAILS_MAX_THREADS=connection pool size, e.g. 5