services:
  db:
    image: mysql:latest
    volumes:
      - ./mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 114514
      MYSQL_DATABASE: app_db
    ports:
      - "3307:3306"

  web:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - db
    ports:
      - "3000:3000" 
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    stdin_open: true
    tty: true