services:
  db:
    image: mysql:8.0 
    restart: always
    ports:
      - "127.0.0.1:${EXTERNAL_DB_PORT:-3306}:3306" 
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    # (if want to have GUI tools)
    # ports:
    #   - "6379:6379"

  web:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    environment:
      DATABASE_HOST: db
      DATABASE_PASSWORD: ${DB_PASSWORD}
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis 
    ports:
      - "${EXTERNAL_WEB_PORT:-3000}:3000" 
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    stdin_open: true
    tty: true

volumes:
  mysql_data:
  redis_data:
  